:root{
	font-size: 1em;
}

ul{
	margin: 0px;
}

p{
	margin-top: 1rem;
	margin-bottom: 1rem;
}

p:first-letter{
	margin-left: 2rem;
}

li{
	margin-left: 2rem;
}

body{
	margin: 0;
	font-family: 'Alegreya', serif;
}

::-webkit-scrollbar {
    width: 0px;
}

.wrapper{
	display: flex;
	flex-flow: column;
	width: 100%;
	min-width: 290px;
	min-height: 100vh;
	overflow: hide;
}

.header{
	height: 100px;
}

.content-container{
	min-height: 400px;
	flex: auto;
}

.footer{
	height: 100px;
}

.header-inner{
	display: flex;
	flex-flow: row;
	justify-content: center;
	align-items: center;
	height: 100%;
	box-shadow: 0 5px 10px black;
}

.main-menu{
}

.logo-inner{
	display: flex;
	flex-flow: row;
	padding: 0.625rem;
}

.logo-img img{
	height: 3.5rem;
	margin-right: 1.25rem;
}

.logo-name{
	font-size: 3.5rem;
}

.main-menu-inner{
	display: flex;
	flex-flow: row;
	padding: 0.625rem;
}

.main-menu-item a{
	text-decoration: none;
	display: block;
	color: black;
	font-size: 2rem;
	padding: 0.3125rem;
}

.main-menu-item{
	margin-left: 0.625rem;
	margin-right: 0.625rem;
	border-radius: 0.25rem;
	box-shadow: 0 0 1px;
}

.mm-item-active{
	transition: .4s;
}
.mm-item-active:hover{
	box-shadow: 0 0.5rem 0.625rem;
	transition: .4s;
}


.menu-button{
	display: block;
	width: 50px;
	height: 50px;
	border-radius: 50%;
	position: relative;
}

.menu-button span,
.menu-button span::before,
.menu-button span::after{
	position: absolute;
	top: 50%;
	margin-top: -1px;
	left: 50%;
	margin-left: -10px;
	width: 20px;
	height: 2px;
	background-color: #222;
	transition: .5s;
}

.menu-button span:before,
.menu-button span:after{
	content: '';
	display: block;
	transition: .5s;
}

.menu-button span::before{
	transform: translateY(-5px);
}

.menu-button span::after{
	transform: translateY(5px);
}

.menu-button-active span{
	height: 0;
	transition: .5s;
	transform: rotate(270deg);
}

.menu-button-active span:before{
	transform: rotate(45deg);
}

.menu-button-active span:after{
	transform: rotate(-45deg);
}

.menu-block{
	position: relative;
}

.menu-block-inner{
	display: flex;
	flex-flow: column;
	align-items: flex-start;
	background-color: white;
	box-shadow: 0 0.5rem 1rem;
	padding: 20px;
	padding-top: 40px;
	top: 25px;
	left: 25px;
	border-radius: 25px;
	position: absolute;
	transition: .25s;
	transform: scale(0,0);
	opacity: 0;
	transform-origin:left top;
}

.menu-block-inner-active{

	transform: scale(1,1) translate(-25px,-25px);
	opacity: 1;
}

.menu-block-item{
	text-decoration: none;
	display: block;
	font-size: 2rem;
	color: black;
	border-radius: 0.5rem;
	margin-top: 0.9rem;
	padding: 5px;
	box-shadow: 0 0 1px;
	transition: .5s;
}

.menu-block-item:hover{
	box-shadow: 0 0.5rem 0.625rem;
	transition: .25s;
}

@media screen and (min-width:1250px){

	:root{
		font-size: 1em;
	}

	.menu-block{
		display: none;
	}

	.sidebar{
		display: block;
	}
	
}

@media screen and (max-width:1250px){
	.main-menu{
		display:block;
	}

	:root{
		font-size: .7em;
	}

	.menu-block{
		display: none;
	}

	.sidebar{
		display: block;
	}
}

@media screen and (max-width:875px){
	.main-menu{
		display:none;
	}

	.menu-block{
		display: block
	}

	.sidebar{
		display: none;
	}
}

@media screen and (max-width:675px){

	:root{
		font-size: .5em;
	}
}

@media screen and (max-width:480px){

	:root{
		font-size: .3em;
	}
}

.content-container-inner{
	margin-top: 1rem;
	display: flex;
	flex-flow: row;
	justify-content: center;
}

.content-container-inner span{
	align-self: center;
	width: 50rem;
	text-align: justify;
}

.sidebar-inner{
	margin-right: 1rem;
}

.sidebar-menu-item a{
	text-decoration: none;
	display: block;
	font-size: 2rem;
	color: black;
	padding: 0.3125rem;
}

.sidebar-menu-item{
	margin: 1rem;
	border-radius: 0.25rem;
	box-shadow: 0 0 1px;
}

.sm-item-active{
	transition: .4s;
}
.sm-item-active:hover{
	box-shadow: 0 0.5rem 0.625rem;
	transition: .4s;
}

.content-inner{
	display: flex;
	flex-flow: column;
}

.label{
	font-size: 2.2rem;
	font-weight: bold;
}

.content-img img{
	width: 50rem;
}

.content-img video{
	width: 50rem;
}

.content-img{
	padding-top: 1rem;
	padding-bottom: 1rem;
	align-self: center;
}

.content-text{
	display: block;
	font-size: 1.8rem;
}

.footer-inner{
	margin-top: 1rem;
	display: flex;
	flex-flow: row;
	justify-content: center;
	align-items: center;
	height: 100%;
	box-shadow: 0 -5px 10px black; 
}

.footer-inner span{
	display: block;
	font-size: 2rem;
	margin-left: 1rem;
	margin-right: 1rem;
}

.footer-inner a{
	display: block;
	margin-left: 1rem;
	margin-right: 1rem;
}

.footer-inner img{
	width: 3.5rem;
}

.btt-block{
	position: fixed;
	left: 1rem;
	bottom: 120px;
	transition: .2s;
	display: none;
}

.btt-block:hover{
	filter: brightness(0.5);
	cursor: pointer;
	transition: .2s;
}

.back-to-top{
	height: 3.125rem;
	width: 3.125rem;
	border-radius: 50%;
	box-shadow: 0.125rem 0.125rem 0.4rem black;
	background-color: white;
	display: flex;
	justify-content: center;
	align-items: center;
}

.back-to-top img{
	height: 2rem;
	display: block;
}
